* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 80px 90px;
    border: 3px solid black;
    border-radius: 25px;
}

.menu {
    display: flex;
}

.menu-item {
    position: relative;
    margin-right: 20px;
    list-style-type: none;
}

.menu-item::before {
    content: "•";
    font-size: 2rem;
    font-weight: 600;
    transform: translateY(-50%);
    margin-right: 10px;
}

.menu-item:first-of-type::before {
    display: none;
}

.menu-link {
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

.tooltip {
    background-color: #000;
    color: #fff;
    position: absolute;
    top: -55px;
    font-size: 2rem;
    width: 290px;
    padding: 10px 10px;
    border-radius: 10px;
    visibility: hidden;
}

.tooltip-arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000;
    transform: rotate(45deg);
    left: 131px;
    top: 27px;
    z-index: -1;
}

#home-tooltip {
    left: -75px;
    top: -80px;
    width: 210px;
    transition: top 1.5s;
}

#home-tooltip .tooltip-arrow {
    left: 90px;
}

#projects-tooltip {
    left: -85px;
    opacity: 0;
    transition: opacity 1.5s;
}

#blog-tooltip {
    width: 80px;
    left: -40px;
    transition: width 0.5s;
}

#blog-tooltip .tooltip-arrow {
    left: 72px;
}

#home:hover {
    #home-tooltip {
        visibility: visible;
        top: -55px;
    }
}

#projects:hover {
    #projects-tooltip {
        visibility: visible;
        opacity: 1;
    }
}

#blog:hover {
    #blog-tooltip {
        visibility: visible;
        width: 160px;
    }
}
