:root {
    --background: #919191;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    position: relative;
}

.restricted-textarea {
    width: 500px;
    height: 200px;
    resize: none;
    font-size: 2.1rem;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
}

.restricted-textarea:focus {
    outline: 3px solid white;
}

.count-container {
    position: absolute;
    font-size: 1.8rem;
    right: 20px;
    bottom: 15px;
    background-color: #fff;
    padding: 3px;
}